/* The original CSS file unminified.  Author and license unknown. */

body,div,p,th,td,li,dd,ul,ol,dl,dt,blockquote{
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:90%
}
pre,code{
    font-size:110%
}
h3{
    margin-bottom:-5px
}
.footer{
    font-size:80%
}
.homeblurb{
    font-size:105%;
    margin-left:40px;
    margin-right:40px;
    font-style:italic
}
.homesectionhead{
    font-size:105%;
    text-align:center;
    margin-bottom:0;
    font-weight:700
}
.homesection{
    margin-top:6px
}
.homesectionreadmore{
    margin-left:15px;
    margin-right:15px;
    font-size:80%
}
.hugelink{
    font-size:140%;
    margin-left:40px;
    margin-top:5px;
    margin-bottom:5px;
    padding-left:10px;
    background-image:url(images/bullet.gif);
    background-repeat:no-repeat;
    background-position:0 6
}
.biglink{
    font-size:125%;
    margin-left:40px;
    margin-top:5px;
    margin-bottom:5px;
    padding-left:10px;
    background-image:url(images/bullet.gif);
    background-repeat:no-repeat;
    background-position:0 4
}
.borderline{
    border-bottom:2px solid #3163ce
}
#borderline{
    border-bottom:2px solid #3163ce
}
#globalnav{
    margin:0;
    padding:0
}
#globalnav ul{
    margin:0;
    padding:0;
    list-style:none;
    border:none
}
#globalnav li{
    float:left;
    margin:0;
    padding:0
}
#globalnav a{
    display:block;
    color:#444;
    text-decoration:none;
    font-weight:700;
    font-size:9px;
    background:#ddf;
    margin:0;
    padding:.25em 1em;
    border-left:1px solid #fff;
    border-top:1px solid #fff;
    border-right:1px solid #aaa
}
#globalnav a:hover,#globalnav a:active,#globalnav a.here:link,#globalnav a.here:visited{
    background:#bbf
}
#globalnav a.here:link,#globalnav a.here:visited{
    position:relative;
    z-index:102
}
a.tabs{
    text-decoration:none;
    font-weight:700;
    font-size:80%
}
a.tabson{
    text-decoration:none;
    font-weight:700;
    font-size:80%
}
a.minor{
    text-decoration:none;
    font-size:80%
}
.banner{
    color:#888;
    font-size:150%;
    font-weight:700;
    font-variant:small-caps;
    margin:0
}
.bannerlong{
    color:#888;
    font-size:140%;
    font-weight:700;
    font-variant:small-caps;
    margin:0
}
.sidefloat{
    float:right;
    width:235px;
    margin-left:5px;
    margin-right:0;
    margin-top:0;
    margin-bottom:10px
}
.sidebox{
    border:solid #8d8d8d 1px;
    margin:5px
}
.sidebox h4{
    font-weight:700;
    font-size:100%;
    margin-top:0;
    margin-bottom:0;
    background-color:#ddf;
    padding:3px;
    text-align:center;
    border-bottom:solid #8d8d8d 1px
}
.sidebox p{
    font-size:100%;
    padding:5px;
    margin-bottom:0;
    margin-top:0
}
.sidebox p a{
    font-weight:700
}
#downloads{
    border-collapse:collapse;
    margin-left:10px;
    margin-right:10px;
    margin-top:5px;
    margin-bottom:5px
}
#downloads td,#downloads th{
    margin:0;
    padding:.5em;
    text-align:left;
    vertical-align:top;
    border-bottom:1px solid #ccc
}
#downloads td.dl,#downloads th.dl{
    white-space:nowrap
}
#downloads tr.odd td,tr.odd th{
    background:#fff
}
#downloads tr.even td,tr.even th{
    background:#eee
}
